/* student_forms.css */
.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: white;
    padding-right: 50px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}
.form-container input[type="file"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 25px;  
    border-radius: 4px;

}
.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}
